.container {
    max-width: 1200px;
}
@media (min-width: 768px)
.container {
    max-width: 720px;
}
@media (min-width: 576px)
.container {
    max-width: 540px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}
user agent stylesheet
div {
    display: block;
}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.m-l-r-auto {
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px)
.col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
@media (min-width: 576px)
.col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.hov-img-zoom {
    display: block;
    overflow: hidden;
}
.pos-relative {
    position: relative;
}
.m-b-30 {
    margin-bottom: 30px;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.hov-img-zoom img {
    width: 100%;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}

.button-feed {

	position: relative;
	margin-top: 20px;
	margin-left: 110px;
	margin-bottom: 0px;
}

.feed-1 {
	width: 300px;
	height: 300px;
	position: relative;
	margin-top: 40px;
	margin-left: 40px;
	margin-bottom: 100px;
	padding: 0px;
	box-sizing: border-box;
	vertical-align: middle;
	border-style: none;

}

.feed-2 {
width: 300px;
	height: 300px;
	position: relative;
	margin-top: 40px;
	margin-left: 40px;
	margin-bottom: 100px;
	padding: 0px;
	box-sizing: border-box;
	vertical-align: middle;
	border-style: none;
}

.feed-3 {
width: 300px;
	height: 300px;
	position: relative;
	margin-top: 40px;
	margin-left: 40px;
	margin-bottom: 100px;
	padding: 0px;
	box-sizing: border-box;
	vertical-align: middle;
	border-style: none;

}

.feed-4 {
	width: 300px;
	height: 300px;
	position: relative;
	margin-top: 80px;
	margin-left: 40px;
	margin-bottom: 200px;
	padding: 0px;
	box-sizing: border-box;
	vertical-align: middle;
	border-style: none;

